Assignment3Part 2/Assignment3Part1/Assignment3Part1/Service References/TodoServiceReference/TodoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TodoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52817/TodoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52817/TodoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52817/TodoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TodoService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITodoService_AddTodoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTodoItem" />
  </wsdl:message>
  <wsdl:message name="ITodoService_AddTodoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTodoItemResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_ModifyToDoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyToDoItem" />
  </wsdl:message>
  <wsdl:message name="ITodoService_ModifyToDoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyToDoItemResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetToDoList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToDoList" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetToDoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToDoListResponse" />
  </wsdl:message>
  <wsdl:portType name="ITodoService">
    <wsdl:operation name="AddTodoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/AddTodoItem" message="tns:ITodoService_AddTodoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/AddTodoItemResponse" message="tns:ITodoService_AddTodoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyToDoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/ModifyToDoItem" message="tns:ITodoService_ModifyToDoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/ModifyToDoItemResponse" message="tns:ITodoService_ModifyToDoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToDoList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/GetToDoList" message="tns:ITodoService_GetToDoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/GetToDoListResponse" message="tns:ITodoService_GetToDoList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITodoService" type="tns:ITodoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTodoItem">
      <soap:operation soapAction="http://tempuri.org/ITodoService/AddTodoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyToDoItem">
      <soap:operation soapAction="http://tempuri.org/ITodoService/ModifyToDoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToDoList">
      <soap:operation soapAction="http://tempuri.org/ITodoService/GetToDoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TodoService">
    <wsdl:port name="BasicHttpBinding_ITodoService" binding="tns:BasicHttpBinding_ITodoService">
      <soap:address location="http://localhost:52817/TodoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>