Assignment3Part 2/Assignment3Part1/Assignment3Part1/Service References/TodoServiceReference/TodoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TodoService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TodoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52817/TodoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="TodoItems">
    <xs:sequence>
      <xs:element minOccurs="0" name="todoList" nillable="true" type="tns:ArrayOfTodoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TodoItems" nillable="true" type="tns:TodoItems" />
  <xs:complexType name="ArrayOfTodoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TodoItem" nillable="true" type="tns:TodoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTodoItem" nillable="true" type="tns:ArrayOfTodoItem" />
  <xs:complexType name="TodoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Complete" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemId" type="ser:guid" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TodoItem" nillable="true" type="tns:TodoItem" />
</xs:schema>