Assignment 4/Assignment4TryIt/Assignment4TryIt/Service References/TransformXmlServiceReference/TransformationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7114/TransformationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TransformationService" />
  <xs:element name="TransformXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TransformationService" minOccurs="0" name="upload" nillable="true" type="q1:Upload" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransformXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransformXmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>