Assignment 4/Assignment4TryIt/Assignment4TryIt/Service References/TransformXmlServiceReference/TransformationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TransformationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TransformationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Upload">
    <xs:sequence>
      <xs:element minOccurs="0" name="code1" type="xs:int" />
      <xs:element minOccurs="0" name="code2" type="xs:int" />
      <xs:element minOccurs="0" name="xmlFileContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xmlFilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xmlRaw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xmlSimpleFilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xmlUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xslFileContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xslFilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xslRaw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xslSimpleFilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xslUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Upload" nillable="true" type="tns:Upload" />
</xs:schema>