Assignment5/Assignment5WebApp/Assignment5WebApp/Service References/AuthServiceReference/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar42.fulton.asu.edu/Page1/AuthService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar42.fulton.asu.edu/Page1/AuthService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar42.fulton.asu.edu/Page1/AuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_AuthenticateUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUsername" />
  </wsdl:message>
  <wsdl:message name="IAuthService_AuthenticateUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IAuthService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IAuthService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetAuths_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuths" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetAuths_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_AddRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRoles" />
  </wsdl:message>
  <wsdl:message name="IAuthService_AddRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRolesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthService">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/Authenticate" message="tns:IAuthService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/AuthenticateResponse" message="tns:IAuthService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/AuthenticateUsername" message="tns:IAuthService_AuthenticateUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/AuthenticateUsernameResponse" message="tns:IAuthService_AuthenticateUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/CreateUser" message="tns:IAuthService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/CreateUserResponse" message="tns:IAuthService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/DeleteUser" message="tns:IAuthService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/DeleteUserResponse" message="tns:IAuthService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuths">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/GetAuths" message="tns:IAuthService_GetAuths_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/GetAuthsResponse" message="tns:IAuthService_GetAuths_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/AddRoles" message="tns:IAuthService_AddRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/AddRolesResponse" message="tns:IAuthService_AddRoles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthService" type="tns:IAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IAuthService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUsername">
      <soap:operation soapAction="http://tempuri.org/IAuthService/AuthenticateUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IAuthService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IAuthService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuths">
      <soap:operation soapAction="http://tempuri.org/IAuthService/GetAuths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRoles">
      <soap:operation soapAction="http://tempuri.org/IAuthService/AddRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="BasicHttpBinding_IAuthService" binding="tns:BasicHttpBinding_IAuthService">
      <soap:address location="http://webstrar42.fulton.asu.edu/Page1/AuthService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>