Assignment5/Assignment5WebApp/Assignment5WebApp/Service References/AuthServiceReference/AuthService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Auth">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auth" nillable="true" type="tns:Auth" />
  <xs:complexType name="Auths">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auth" nillable="true" type="tns:ArrayOfAuth" />
      <xs:element minOccurs="0" name="Xsd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Xsi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auths" nillable="true" type="tns:Auths" />
  <xs:complexType name="ArrayOfAuth">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Auth" nillable="true" type="tns:Auth" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuth" nillable="true" type="tns:ArrayOfAuth" />
</xs:schema>