Assignment3Part 2/Assignment3Part1/Assignment3Part1/Service References/WeatherServiceReference/WeatherService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17513/WeatherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeatherService" />
  <xs:element name="GetWeather">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WeatherService" minOccurs="0" name="GetWeatherResult" nillable="true" type="q1:Weather" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>