Assignment3Part2/Assignment3Part1/Assignment3Part1/Service References/NewsServiceReference/NewsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12893/NewsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NewsService" />
  <xs:element name="GetNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="topic" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NewsService" minOccurs="0" name="GetNewsResult" nillable="true" type="q1:NewsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>