Assignment5/Assignment5WebApp/Assignment5WebApp/Service References/TodoListServiceReference/TodolistService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar42.fulton.asu.edu/Page2/TodolistService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TodolistService" />
  <xs:element name="GetTodoList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TodolistService" minOccurs="0" name="GetTodoListResult" nillable="true" type="q1:TodoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersTodoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersTodoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TodolistService" minOccurs="0" name="GetUsersTodoListResult" nillable="true" type="q2:TodoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTodoItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TodolistService" minOccurs="0" name="item" nillable="true" type="q3:TodoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTodoItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTodoItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TodolistService" minOccurs="0" name="item" nillable="true" type="q4:TodoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTodoItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteTodoItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TodolistService" minOccurs="0" name="item" nillable="true" type="q5:TodoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteTodoItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTodoItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TodolistService" minOccurs="0" name="item" nillable="true" type="q6:TodoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTodoItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>